<!DOCTYPE html>
<html lang="en">


<h1>Plan your modules here!</h1>

<form action="/name" method="POST">
    <h3>Enter your name:</h3>
    <input type="text" placeholder="Name" name="name">
    <button type="submit">Enter</button>
</form>


</html>